test.json
[
    {
        "id": "5f5d0ae3ad74d56e",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f018d469e281b785",
        "type": "ui_button",
        "z": "5f5d0ae3ad74d56e",
        "name": "",
        "group": "0dfad4940180d64b",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "STOP",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 790,
        "y": 60,
        "wires": [
            [
                "807d4053b35581a9"
            ]
        ]
    },
    {
        "id": "463b7a5dcc36e90d",
        "type": "ui_button",
        "z": "5f5d0ae3ad74d56e",
        "name": "",
        "group": "0dfad4940180d64b",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "RESET",
        "tooltip": "",
        "color": "",
        "bgcolor": "dark",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 800,
        "y": 120,
        "wires": [
            [
                "622afd84cba3eec5"
            ]
        ]
    },
    {
        "id": "ee0228a6255a1fc1",
        "type": "ui_button",
        "z": "5f5d0ae3ad74d56e",
        "name": "",
        "group": "0dfad4940180d64b",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "START",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 800,
        "y": 180,
        "wires": [
            [
                "6f80c5e9e1f75dc5"
            ]
        ]
    },
    {
        "id": "807d4053b35581a9",
        "type": "s7 out",
        "z": "5f5d0ae3ad74d56e",
        "endpoint": "a3ba51d044ac12f4",
        "variable": "STOP",
        "name": "",
        "x": 970,
        "y": 60,
        "wires": []
    },
    {
        "id": "622afd84cba3eec5",
        "type": "s7 out",
        "z": "5f5d0ae3ad74d56e",
        "endpoint": "a3ba51d044ac12f4",
        "variable": "RESET",
        "name": "",
        "x": 980,
        "y": 120,
        "wires": []
    },
    {
        "id": "6f80c5e9e1f75dc5",
        "type": "s7 out",
        "z": "5f5d0ae3ad74d56e",
        "endpoint": "a3ba51d044ac12f4",
        "variable": "START",
        "name": "",
        "x": 980,
        "y": 180,
        "wires": []
    },
    {
        "id": "d22695296776f54a",
        "type": "ui_button",
        "z": "5f5d0ae3ad74d56e",
        "name": "",
        "group": "909c8d4115f95e8e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "STOP",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 790,
        "y": 260,
        "wires": [
            [
                "a5495bd3749fa782"
            ]
        ]
    },
    {
        "id": "8814e2c4152b9dc7",
        "type": "ui_button",
        "z": "5f5d0ae3ad74d56e",
        "name": "",
        "group": "909c8d4115f95e8e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "RESET",
        "tooltip": "",
        "color": "",
        "bgcolor": "dark",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 800,
        "y": 320,
        "wires": [
            [
                "ed07aca6d3ba0b5f"
            ]
        ]
    },
    {
        "id": "dc781b3407234873",
        "type": "ui_button",
        "z": "5f5d0ae3ad74d56e",
        "name": "",
        "group": "909c8d4115f95e8e",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "START",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 800,
        "y": 380,
        "wires": [
            [
                "3287bfe8ee900cc5"
            ]
        ]
    },
    {
        "id": "a5495bd3749fa782",
        "type": "s7 out",
        "z": "5f5d0ae3ad74d56e",
        "endpoint": "3bd72444695a8c6b",
        "variable": "STOP",
        "name": "",
        "x": 970,
        "y": 260,
        "wires": []
    },
    {
        "id": "ed07aca6d3ba0b5f",
        "type": "s7 out",
        "z": "5f5d0ae3ad74d56e",
        "endpoint": "3bd72444695a8c6b",
        "variable": "RESET",
        "name": "",
        "x": 980,
        "y": 320,
        "wires": []
    },
    {
        "id": "3287bfe8ee900cc5",
        "type": "s7 out",
        "z": "5f5d0ae3ad74d56e",
        "endpoint": "3bd72444695a8c6b",
        "variable": "START",
        "name": "",
        "x": 980,
        "y": 380,
        "wires": []
    },
    {
        "id": "f46b07fafd306cfb",
        "type": "ui_button",
        "z": "5f5d0ae3ad74d56e",
        "name": "",
        "group": "d36cb9b1ab1e8a77",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "STOP",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 60,
        "wires": [
            [
                "0eaba6f23cf45f53"
            ]
        ]
    },
    {
        "id": "941147431b513265",
        "type": "ui_button",
        "z": "5f5d0ae3ad74d56e",
        "name": "",
        "group": "d36cb9b1ab1e8a77",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "RESET",
        "tooltip": "",
        "color": "",
        "bgcolor": "dark",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 260,
        "y": 120,
        "wires": [
            [
                "5e741d8e300e4e66"
            ]
        ]
    },
    {
        "id": "c57d7cce205938df",
        "type": "ui_button",
        "z": "5f5d0ae3ad74d56e",
        "name": "",
        "group": "d36cb9b1ab1e8a77",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "START",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 260,
        "y": 180,
        "wires": [
            [
                "bd2079a3534abf5b"
            ]
        ]
    },
    {
        "id": "0eaba6f23cf45f53",
        "type": "s7 out",
        "z": "5f5d0ae3ad74d56e",
        "endpoint": "f18e5819443d83bd",
        "variable": "STOP ",
        "name": "",
        "x": 430,
        "y": 60,
        "wires": []
    },
    {
        "id": "5e741d8e300e4e66",
        "type": "s7 out",
        "z": "5f5d0ae3ad74d56e",
        "endpoint": "f18e5819443d83bd",
        "variable": "RESET",
        "name": "",
        "x": 440,
        "y": 120,
        "wires": []
    },
    {
        "id": "bd2079a3534abf5b",
        "type": "s7 out",
        "z": "5f5d0ae3ad74d56e",
        "endpoint": "f18e5819443d83bd",
        "variable": "START",
        "name": "",
        "x": 440,
        "y": 180,
        "wires": []
    },
    {
        "id": "8fa00c61942a64b1",
        "type": "ui_button",
        "z": "5f5d0ae3ad74d56e",
        "name": "",
        "group": "a3a7bcafdcc89fd2",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "STOP",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 260,
        "wires": [
            [
                "81b2eec41d62b14e"
            ]
        ]
    },
    {
        "id": "dd5236185b131349",
        "type": "ui_button",
        "z": "5f5d0ae3ad74d56e",
        "name": "",
        "group": "a3a7bcafdcc89fd2",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "RESET",
        "tooltip": "",
        "color": "",
        "bgcolor": "dark",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 260,
        "y": 320,
        "wires": [
            [
                "eabf1fe75ecaceb5"
            ]
        ]
    },
    {
        "id": "ff2a3099fbd18935",
        "type": "ui_button",
        "z": "5f5d0ae3ad74d56e",
        "name": "",
        "group": "a3a7bcafdcc89fd2",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "START",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 260,
        "y": 380,
        "wires": [
            [
                "4a7cfcda13e2b433"
            ]
        ]
    },
    {
        "id": "81b2eec41d62b14e",
        "type": "s7 out",
        "z": "5f5d0ae3ad74d56e",
        "endpoint": "505fb8f224816179",
        "variable": "STOP",
        "name": "",
        "x": 430,
        "y": 260,
        "wires": []
    },
    {
        "id": "eabf1fe75ecaceb5",
        "type": "s7 out",
        "z": "5f5d0ae3ad74d56e",
        "endpoint": "505fb8f224816179",
        "variable": "RESET",
        "name": "",
        "x": 440,
        "y": 320,
        "wires": []
    },
    {
        "id": "4a7cfcda13e2b433",
        "type": "s7 out",
        "z": "5f5d0ae3ad74d56e",
        "endpoint": "505fb8f224816179",
        "variable": "START",
        "name": "",
        "x": 440,
        "y": 380,
        "wires": []
    },
    {
        "id": "d63a80d34edf4654",
        "type": "ui_button",
        "z": "5f5d0ae3ad74d56e",
        "name": "",
        "group": "0dfad4940180d64b",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "STOP",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 470,
        "y": 460,
        "wires": [
            [
                "bd40f3be744a4034"
            ]
        ]
    },
    {
        "id": "f8095171852c4307",
        "type": "ui_button",
        "z": "5f5d0ae3ad74d56e",
        "name": "",
        "group": "0dfad4940180d64b",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "RESET",
        "tooltip": "",
        "color": "",
        "bgcolor": "dark",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 480,
        "y": 520,
        "wires": [
            [
                "db86699d5497fa12"
            ]
        ]
    },
    {
        "id": "00159b11d819cd6c",
        "type": "ui_button",
        "z": "5f5d0ae3ad74d56e",
        "name": "",
        "group": "0dfad4940180d64b",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "START",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 480,
        "y": 580,
        "wires": [
            [
                "4e2c1b590ee402b3"
            ]
        ]
    },
    {
        "id": "bd40f3be744a4034",
        "type": "s7 out",
        "z": "5f5d0ae3ad74d56e",
        "endpoint": "a3ba51d044ac12f4",
        "variable": "STOP",
        "name": "",
        "x": 650,
        "y": 460,
        "wires": []
    },
    {
        "id": "db86699d5497fa12",
        "type": "s7 out",
        "z": "5f5d0ae3ad74d56e",
        "endpoint": "a3ba51d044ac12f4",
        "variable": "RESET",
        "name": "",
        "x": 660,
        "y": 520,
        "wires": []
    },
    {
        "id": "4e2c1b590ee402b3",
        "type": "s7 out",
        "z": "5f5d0ae3ad74d56e",
        "endpoint": "a3ba51d044ac12f4",
        "variable": "START",
        "name": "",
        "x": 660,
        "y": 580,
        "wires": []
    },
    {
        "id": "a7aebc1a0430d33a",
        "type": "remote-access",
        "z": "5f5d0ae3ad74d56e",
        "confignode": "24785dd355ace53f",
        "name": "remotecontrol iot",
        "verbose": 0,
        "x": 210,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "ee1869eda6f792a0",
        "type": "ui_switch",
        "z": "5f5d0ae3ad74d56e",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "961372b9386d59a7",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 300,
        "y": 880,
        "wires": [
            [
                "43aa6bcebd8cad10"
            ]
        ]
    },
    {
        "id": "43aa6bcebd8cad10",
        "type": "ui_led",
        "z": "5f5d0ae3ad74d56e",
        "order": 1,
        "group": "961372b9386d59a7",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 520,
        "y": 900,
        "wires": []
    },
    {
        "id": "2920f82502d97854",
        "type": "http request",
        "z": "5f5d0ae3ad74d56e",
        "name": "iot2050",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "192.168.0.19",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "credentials": {},
        "x": 330,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "591fa377d91270de",
        "type": "ui_spacer",
        "z": "5f5d0ae3ad74d56e",
        "name": "spacer",
        "group": "d36cb9b1ab1e8a77",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "7af2233ed795ec05",
        "type": "ui_spacer",
        "z": "5f5d0ae3ad74d56e",
        "name": "spacer",
        "group": "d36cb9b1ab1e8a77",
        "order": 7,
        "width": 6,
        "height": 1
    },
    {
        "id": "4f346529c11de321",
        "type": "ui_spacer",
        "z": "5f5d0ae3ad74d56e",
        "name": "spacer",
        "group": "a3a7bcafdcc89fd2",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "2585ea9c0eeec5b2",
        "type": "ui_spacer",
        "z": "5f5d0ae3ad74d56e",
        "name": "spacer",
        "group": "a3a7bcafdcc89fd2",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "0dfad4940180d64b",
        "type": "ui_group",
        "name": "TRAM 2",
        "tab": "705f26cae8c1419f",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a3ba51d044ac12f4",
        "type": "s7 endpoint",
        "transport": "iso-on-tcp",
        "address": "192.168.0.2",
        "port": "102",
        "rack": "0",
        "slot": "2",
        "localtsaphi": "01",
        "localtsaplo": "00",
        "remotetsaphi": "01",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": "2",
        "cycletime": "1000",
        "timeout": "2000",
        "name": "",
        "vartable": [
            {
                "addr": "M100.0",
                "name": "STOP"
            },
            {
                "addr": "M100.1",
                "name": "RESET"
            },
            {
                "addr": "M100.2",
                "name": "START"
            }
        ]
    },
    {
        "id": "909c8d4115f95e8e",
        "type": "ui_group",
        "name": "TRAM 4",
        "tab": "705f26cae8c1419f",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3bd72444695a8c6b",
        "type": "s7 endpoint",
        "transport": "iso-on-tcp",
        "address": "192.168.0.4",
        "port": "102",
        "rack": "0",
        "slot": "2",
        "localtsaphi": "01",
        "localtsaplo": "00",
        "remotetsaphi": "01",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": "2",
        "cycletime": "1000",
        "timeout": "2000",
        "name": "",
        "vartable": [
            {
                "addr": "M6.2",
                "name": "STOP"
            },
            {
                "addr": "M6.0",
                "name": "RESET"
            },
            {
                "addr": "M6.1",
                "name": "START"
            }
        ]
    },
    {
        "id": "d36cb9b1ab1e8a77",
        "type": "ui_group",
        "name": "TRAM 1",
        "tab": "705f26cae8c1419f",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": true
    },
    {
        "id": "f18e5819443d83bd",
        "type": "s7 endpoint",
        "transport": "iso-on-tcp",
        "address": "192.168.0.1",
        "port": "102",
        "rack": "0",
        "slot": "2",
        "localtsaphi": "01",
        "localtsaplo": "00",
        "remotetsaphi": "01",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": "2",
        "cycletime": "1000",
        "timeout": "2000",
        "name": "",
        "vartable": [
            {
                "addr": "M100.2",
                "name": "START"
            },
            {
                "addr": "M100.0",
                "name": "STOP "
            },
            {
                "addr": "M100.1",
                "name": "RESET"
            }
        ]
    },
    {
        "id": "a3a7bcafdcc89fd2",
        "type": "ui_group",
        "name": "TRAM 3",
        "tab": "705f26cae8c1419f",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "505fb8f224816179",
        "type": "s7 endpoint",
        "transport": "iso-on-tcp",
        "address": "192.168.0.3",
        "port": "102",
        "rack": "0",
        "slot": "2",
        "localtsaphi": "01",
        "localtsaplo": "00",
        "remotetsaphi": "01",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": "2",
        "cycletime": "1000",
        "timeout": "2000",
        "name": "",
        "vartable": [
            {
                "addr": "M6.1",
                "name": "STOP"
            },
            {
                "addr": "M6.0",
                "name": "RESET"
            },
            {
                "addr": "M6.2",
                "name": "START"
            },
            {
                "addr": "M2.0",
                "name": "CB doc"
            },
            {
                "addr": "M3.1",
                "name": "CB ngang"
            },
            {
                "addr": "M2.5",
                "name": "CB khoan"
            },
            {
                "addr": "M1.0",
                "name": "reset ban xoay"
            },
            {
                "addr": "M1.6",
                "name": "ban xoay lan 1"
            },
            {
                "addr": "M2.2",
                "name": "ban xoay lan 2"
            },
            {
                "addr": "M2.7",
                "name": "ban xoay lan 3"
            }
        ]
    },
    {
        "id": "24785dd355ace53f",
        "type": "remote-config",
        "name": "Node-RED UI",
        "host": "localhost",
        "protocol": "http",
        "port": "1880",
        "baseurl": "/ui",
        "instancehash": "24a8jnrkbvi5nx5h78gbmngr2mulijqcw5rdntjjdqv2q71m6mnpg9olo8d3gun6",
        "server": "nodered02.remote-red.com",
        "region": "de"
    },
    {
        "id": "961372b9386d59a7",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "0869585ddb8b0338",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "705f26cae8c1419f",
        "type": "ui_tab",
        "name": "CONTROL",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0869585ddb8b0338",
        "type": "ui_tab",
        "name": "Tab 2",
        "icon": "dashboard",
        "order": 2
    }
]